##############################
## Magento
##############################
/app/etc/local.xml
/connect/package.xml
/downloader/.cache
/downloader/cache.cfg
/downloader/connect.cfg
/errors/local.xml
/media
/robots.txt
/sitemap.xml
/var

##############################
## SASS
##############################
.sass-cache
/skin/frontend/sdm/ellison/css
/skin/frontend/sdm/ellison_edu/css
/skin/frontend/sdm/ellison_retail/css
/skin/frontend/sdm/sizzix_uk/css
/skin/frontend/sdm/sizzix_us/css

##############################
## Wordpress
##############################
/wp/wp-config.php
/wp/wp-content/uploads
edu-wp-config.php
sizzix-wp-config.php

##############################
## System
##############################
*.swp
*.tar.gz
._*
.DS_*
.nfs*
.smb*
.svn
.tags*
_notes
Thumbs.db

##############################
## Misc Dev
##############################
/DB
/patch.diff
__*.php
backup.sh
test.php

##############################
## Dev Modules
##############################
/.modman
/app/code/community/Alekseon
/app/code/community/Aoe/Profiler
/app/code/community/Magneto/Debug
/app/code/community/Varien/Profiler.php
/app/code/community/Zend/Db/Profiler.php
/app/code/local/SDM/Test
/app/design/adminhtml/base/default/layout/debug.xml
/app/design/adminhtml/base/default/template/debug
/app/design/adminhtml/default/default/template/alekseon
/app/design/frontend/base/default/layout/debug.xml
/app/design/frontend/base/default/template/debug
/app/etc/modules/Alekseon_ModulesConflictDetector.xml
/app/etc/modules/Aoe_Profiler.xml
/app/etc/modules/Magneto_Debug.xml
/app/etc/modules/SDM_Test.xml
/modman
/skin/adminhtml/base/default/aoe_profiler/img
/skin/frontend/base/default/aoe_profiler
/skin/frontend/base/default/debug
/app/design/adminhtml/default/default/layout/aoe_profiler
/app/design/adminhtml/default/default/template/aoe_profiler
/skin/adminhtml/default/default/aoe_profiler

##############################
## Import
##############################
/shell/images/
/shell/old/
/shell/runcron.php
/shell/sdm/delete_attributes.php
/shell/sdm/delete_products.php
/shell/sdm/erp.php
/shell/sdm/name_change.php
/shell/sdm/save_products.php
/shell/sdm/saved_quotes.php
/shell/sdm/update_lifecycle.php
/shell/sdm/update_lifecycle.sh
/shell/sdm/update_product_status.php
erp
