<?xml version="1.0"?>
<config>
    <modules>
        <Mexbs_Tieredcoupon>
            <version>1.0.1</version>
        </Mexbs_Tieredcoupon>
    </modules>
    <global>
        <helpers>
            <mexbs_tieredcoupon>
                <class>Mexbs_Tieredcoupon_Helper</class>
            </mexbs_tieredcoupon>
        </helpers>
        <models>
            <mexbs_tieredcoupon>
                <class>Mexbs_Tieredcoupon_Model</class>
                <resourceModel>mexbs_tieredcoupon_resource</resourceModel>
            </mexbs_tieredcoupon>
            <mexbs_tieredcoupon_resource>
                <class>Mexbs_Tieredcoupon_Model_Resource</class>
                <entities>
                    <tieredcoupon>
                        <table>tieredcoupon</table>
                    </tieredcoupon>
                    <tieredcoupon_coupon>
                        <table>tieredcoupon_coupon</table>
                    </tieredcoupon_coupon>
                </entities>
            </mexbs_tieredcoupon_resource>
            <salesrule_resource>
                <rewrite>
                    <rule_collection>Mexbs_Tieredcoupon_Model_Resource_Rule_Collection</rule_collection>
                </rewrite>
            </salesrule_resource>
            <salesrule>
                <rewrite>
                    <validator>Mexbs_Tieredcoupon_Model_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <mexbs_tieredcoupon>
                <class>Mexbs_Tieredcoupon_Block</class>
            </mexbs_tieredcoupon>
        </blocks>
        <resources>
            <mexbs_tieredcoupon_setup>
                <setup>
                    <module>Mexbs_Tieredcoupon</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </mexbs_tieredcoupon_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <mexbs_tieredcoupon>
                <use>standard</use>
                <args>
                    <module>Mexbs_Tieredcoupon</module>
                    <frontName>mexbs_tieredcoupon</frontName>
                </args>
            </mexbs_tieredcoupon>
            <checkout>
                <args>
                    <modules>
                        <Mexbs_Tieredcoupon before="Mage_Checkout">Mexbs_Tieredcoupon_Checkout</Mexbs_Tieredcoupon>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tieredcoupon before="Mage_Adminhtml">Mexbs_Tieredcoupon_Adminhtml</tieredcoupon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mexbs_Tieredcoupon>
                    <files>
                        <default>Mexbs_Tieredcoupon.csv</default>
                    </files>
                </Mexbs_Tieredcoupon>
            </modules>
        </translate>
        <layout>
            <updates>
                <mexbs_tieredcoupon>
                    <file>mexbs/tieredcoupon.xml</file>
                </mexbs_tieredcoupon>
            </updates>
        </layout>
    </adminhtml>
</config>