<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Separation Degrees One
 *
 * Valutec Giftcard Integration
 *
 * @category  SDM
 * @package   SDM_Valutec
 * @author    Separation Degrees One <magento@separationdegrees.com>
 * @copyright Copyright (c) 2015 Separation Degrees One (http://www.separationdegrees.com)
 */
-->
<config>
    <modules>
        <SDM_Valutec>
            <version>1.1.2</version>
        </SDM_Valutec>
    </modules>
    <global>
        <blocks>
            <sdm_valutec>
                <class>SDM_Valutec_Block</class>
            </sdm_valutec>
        </blocks>
        <helpers>
            <sdm_valutec>
                <class>SDM_Valutec_Helper</class>
            </sdm_valutec>
        </helpers>
        <models>
            <sdm_valutec>
                <class>SDM_Valutec_Model</class>
            </sdm_valutec>
        </models>
        <resources>
            <sdm_valutec_setup>
                <setup>
                    <module>SDM_Valutec</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </sdm_valutec_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <sdm_valutec_giftcard>
                    <to_order>*</to_order>
                </sdm_valutec_giftcard>
                <sdm_valutec_giftcard_amount>
                    <to_order>*</to_order>
                </sdm_valutec_giftcard_amount>
                <base_sdm_valutec_giftcard_amount>
                    <to_order>*</to_order>
                </base_sdm_valutec_giftcard_amount>
            </sales_convert_quote>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <sdm_valutec_giftcard>
                        <class>sdm_valutec/total_quote_giftcard</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total</after>
                        <before></before>
                        <renderer>sdm_valutec/checkout_cart_total</renderer>
                    </sdm_valutec_giftcard>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <sdm_valutec_giftcard>
                        <class>sdm_valutec/total_invoice_giftcard</class>
                        <after>discount,tax,grand_total</after>
                    </sdm_valutec_giftcard>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <sdm_valutec_giftcard>
                        <class>sdm_valutec/total_creditmemo_giftcard</class>
                        <after>discount,tax,grand_total</after>
                    </sdm_valutec_giftcard>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <payment_method_is_active>
                <observers>
                    <sdm_valutec_check_payment_method>
                        <class>sdm_valutec/observer</class>
                        <method>checkPaymentMethod</method>
                    </sdm_valutec_check_payment_method>
                </observers>
            </payment_method_is_active>
            <sales_model_service_quote_submit_before>
                <observers>
                    <sdm_valutec_order_place_giftcard_authorize>
                        <class>sdm_valutec/observer</class>
                        <method>orderPlaceBefore</method>
                    </sdm_valutec_order_place_giftcard_authorize>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_order_place_after>
                <observers>
                    <sdm_valutec_order_place_giftcard_capture>
                        <class>sdm_valutec/observer</class>
                        <method>orderPlaceAfter</method>
                    </sdm_valutec_order_place_giftcard_capture>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <sdm_valutec_void>
                        <class>sdm_valutec/observer</class>
                        <method>orderCancel</method>
                    </sdm_valutec_void>
                </observers>
            </order_cancel_after>
            <sales_order_payment_void>
                <observers>
                    <sdm_valutec_void>
                        <class>sdm_valutec/observer</class>
                        <method>paymentVoid</method>
                    </sdm_valutec_void>
                </observers>
            </sales_order_payment_void>
            <sales_order_creditmemo_refund>
                <observers>
                    <sdm_valutec_void>
                        <class>sdm_valutec/observer</class>
                        <method>creditmemoRefund</method>
                    </sdm_valutec_void>
                </observers>
            </sales_order_creditmemo_refund>
        </events>
        <rewrite>
            <sdm_valutec_check>
                <from><![CDATA[/giftcard_balance/]]></from>
                <to><![CDATA[sdm_valutec/check/]]></to>
                <complete>1</complete>
            </sdm_valutec_check>
        </rewrite>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sdm_valutec module="sdm_valutec">
                    <file>sdm/valutec.xml</file>
                </sdm_valutec>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sdm_valutec module="sdm_valutec">
                    <file>sdm/valutec.xml</file>
                </sdm_valutec>
            </updates>
        </layout>
        <routers>
            <sdm_valutec>
                <use>standard</use>
                <args>
                    <module>SDM_Valutec</module>
                    <frontName>sdm_valutec</frontName>
                </args>
            </sdm_valutec>
        </routers>
    </frontend>
    <default>
        <sdm_valutec>
            <api>
                <url>https://ws.valutec.net/valutec.asmx?WSDL</url>
                <client_key>6986f09e-c288-4231-996a-5dfe3c2497d9</client_key>
                <terminal_id>199325</terminal_id>
                <server_id>1</server_id>
                <debug>0</debug>
                <card_program>
                    <auto_rewards>0x76094E6C890E9B41BA31B8EBCD13665E</auto_rewards>
                    <combo>0x239A9B35322930488F2C977957248A8B</combo>
                    <gift>0xE8A72FDE1E31FF45ADE44460DB4B403B</gift>
                    <loyalty>0x4B30DFF2BE99E94C9AB6DAE36DAEE56F</loyalty>
                    <promotional>0x785E016CCAFA504FB00D885DF030015F</promotional>
                </card_program>
            </api>
        </sdm_valutec>
        <payment>
            <sdm_valutech_giftcard>
                <active>0</active>
                <model>sdm_valutec/payment_method_giftcard</model>
                <order_status>processing</order_status>
                <title>Giftcard</title>
                <disallowed_method>purchaseorder</disallowed_method>
                <disallowed_product_type>309</disallowed_product_type>
            </sdm_valutech_giftcard>
        </payment>
    </default>
</config>