<?xml version="1.0"?>
<!--
/**
 * Separation Degrees One
 *
 * Add ability to set a limit via Admin instead of statically set in the Core file.
 *
 * @category  SDM
 * @package   SDM_Crosssell
 * @author    Separation Degrees One <magento@separationdegrees.com>
 * @copyright Copyright (c) 2015 Separation Degrees One (http://www.separationdegrees.com)
 */
-->
<config>
    <sections>
        <sdm_crosssell translate="label" module="sdm_crosssell">
            <label>Crosssell</label>
            <tab>sdm_core</tab>
            <frontend_type>text</frontend_type>
            <sort_order>140</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="sdm_crosssell">
                    <label>SDM Crosssell Limit</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="sdm_crosssell">
                            <label>Enable Overwrite Crosssell limit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <limit translate="label" module="sdm_crosssell">
                            <label>Limit Crosssell Item</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Note: This is will limit your all the Crosssell item that will shown on the frontend.]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </limit>
                    </fields>
                </general>
            </groups>
        </sdm_crosssell>
    </sections>
</config>
