<?xml version="1.0"?>
<config>
  <modules>
    <DCKAP_Speedanalyzer>
      <version>0.1.0</version>
    </DCKAP_Speedanalyzer>
  </modules>
  <frontend>
    <routers>
      <speedanalyzer>
        <use>standard</use>
          <args>
            <module>DCKAP_Speedanalyzer</module>
            <frontName>speedanalyzer</frontName>
          </args>
      </speedanalyzer>
    </routers>
		<layout>
		  <updates>
			<speedanalyzer>
			  <file>speedanalyzer.xml</file>
			</speedanalyzer>
		  </updates>
		</layout>
    <events>
    <core_block_abstract_to_html_after>
			<observers>
          <speed_analyzer>
             <type>singleton</type>
             <class>speedanalyzer/observer</class>
             <method>showSpeed</method>
          </speed_analyzer>
       </observers>
    </core_block_abstract_to_html_after>
  </events>
  </frontend>
  <global>
    <models>
            <speedanalyzer>
                <class>DCKAP_Speedanalyzer_Model</class>
            </speedanalyzer>
        </models>
    <helpers>
      <speedanalyzer>
        <class>DCKAP_Speedanalyzer_Helper</class>
      </speedanalyzer>
    </helpers>
	<blocks>
	  <speedanalyzer>
		<class>DCKAP_Speedanalyzer_Block</class>
	  </speedanalyzer>
	</blocks>
  
  </global>
  <admin>
	<routers>
	  <speedanalyzer>
	    <use>admin</use>
		<args>
		  <module>DCKAP_Speedanalyzer</module>
		  <frontName>speedanalyzer</frontName>
		</args>
	  </speedanalyzer>
	</routers>
  </admin>
  <adminhtml>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<speedanalyzer translate="title" module="speedanalyzer">
			  <title>Speedanalyzer</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <speedanalyzerbackend translate="title">
			<title>Backend Page Title</title>
		  </speedanalyzerbackend>
			  </children>
			</speedanalyzer>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<speedanalyzer>
		  <file>speedanalyzer.xml</file>
		</speedanalyzer>
	  </updates>
	</layout>
  </adminhtml>
</config> 
